---
import Layout from '@/layouts/Layout.astro';
import Footer from '@/components/Footer.tsx';
import Header from '@/components/Header.tsx';
import Hero from '@/components/Hero.tsx';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/lib/consts.ts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<!-- Header -->
	<Header client:only="react" pathname={Astro.url.pathname} />
	<main class="flex-1">
		<!-- Hero Section -->
		<Hero client:only="react" />
	</main>
	<!-- Footer -->
	<Footer client:only="react" />
</Layout>
